@config "../tailwind.config.ts";
@import "tailwindcss";

body 
{
  background-color: #0a0a0a;
  color: #ffffff;
  overflow-x: hidden;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #d946ef, #8b5cf6);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #b517c6, #6d28d9);
}
.text-gradient {
  background: linear-gradient(to right, #8b5cf6, #d946ef);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
